<div class="navbar navbar-fixed-top" style="position:relative">
    <div class="navbar-inner">
    	<div class="container">
    		<ul class="nav">
			 	<li class="active">
			   		 <a href="#">Fleet Finder</a>
			  	</li>
			  	<li><a  target="_newtab" href="https://forum.pleaseignore.com/">Forums</a></li>
			  	<li><a  target="_newtab" href="https://auth.pleaseignore.com/">Auth</a></li>
			  	<li><a  target="_newtab" href="http://killboard.pleaseignore.com/">Killboard</a></li>
			  	<li><a  target="_newtab" href="http://wiki.pleaseignore.com/">Wiki</a></li>
			  	<li><a  target="_newtab" href="http://reimbursement.pleaseignore.com/">Reimbursements</a></li>
			  	<li><a  target="_newtab" href="http://map.pleaseignore.com">Intel Map</a></li>
			</ul>
    	</div>
  	</div>
</div>
<div class = "header">
	<img src = "{{ STATIC_URL }}images/logo.png"/>
</div>
<div id="alert_cont">
	<div id="alert_message_working" style="display:none" class="alert alert_message">
		Working...
	</div>
	<div id="alert_message_error" style="display:none" class="alert alert-error alert_message">
		Something went wrong. Try again shortly.
	</div>
</div>